
<div class="container">
	<!-- HEADER AND TODO COUNT -->
	<div class="jumbotron text-center">
		<h1>TikoHUD users, total <span class="label label-info">{{ users.length }}</span></h1>
	</div>

	<div>
		Search:<input ng-model="query" type="text" />
	  	<pre>Sorting predicate = {{predicate}}; reverse = {{reverse}}</pre>
	  	<hr />
	 	 <table class="user" width="100%">
	    	<tr>
		      	<th><a href="" ng-click="predicate = '[lastname, firstname]'; reverse=!reverse">Name</a></th>
		      	<th><a href="" ng-click="predicate = '[role, lastname, firstname]'; reverse=!reverse">Role</a></th>
		      	<th>Email</th>
		      	<th>Click to delete</th>
	    	</tr>
		    <tr ng-repeat="user in users | orderBy:predicate:reverse | filter:query">
				<td>{{user.lastname + ', ' + user.firstname }}</td>
				<td width="10%">{{user.role}}</td>
				<td>{{user.email}}</td>
				<td>
					<input type="checkbox" ng-click="deleteUser(user._id)"> {{ user.lastname + ', ' + user.firstname }}
				</td>
		    </tr>
	  	</table>
	</div>

	<!-- Form to add a new user -->
	<div id="add-user-form" class="row" style="margin-top: 50px">
		<div class="col-sm-8 col-sm-offset-2 text-center">
			<form>
				<div class="form-group">
				<h2>Create a new user</h2>
					<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
					<input type="text" class="form-control input-lg text-center" placeholder="first name" ng-model="formData.firstname">
					<input type="text" class="form-control input-lg text-center" placeholder="last name" ng-model="formData.lastname">
					<input type="text" class="form-control input-lg text-center" placeholder="email" ng-model="formData.email">
					<input type="password" class="form-control input-lg text-center" placeholder="password" ng-model="formData.password">
						Role: <select ng-model="formData.role" ng-options="role.name for role in roles">
						<option value="">choose role </option>
						</select>
						Currently selected: {{ {selected_role:formData.role}  }}
					</div>

				<!-- createToDo() WILL CREATE NEW TODOS -->
				<button type="submit" class="btn btn-primary btn-lg" ng-click="createUser()">Add</button>
			</form>
		</div>
	</div>
</div>


